TELEGRAM_TOKEN= // Example: 1234567890:AAH1234567890...
BOT_ENDPOINT= // Example: LSALSJalskjalsaK
POSTGRE_URL= // Example: postgresql://user:password@host:port/database
GITLAB_ENDPOINT= // Example: KDJNndsjkJSJn
TELEGRAM_ID= // Example: 1234567890
GITLAB_USERNAME= // Example: ypurusername
GITLAB_TOKEN= // Example: abcde-1adakj3n4kn123...
BOT_DOMAIN= // Example: https://host.com/
